################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/JWObjectPool/v17/ipch/AutoPCH/85adf9c0ab4adaf9/JWOBJECTPOOL.ipch
